/calculo.py
/cinematica.py
/cinematica_pong.py
/cinematica_vermelha.py
/desafio1.py
/Desafio1_vgsalesGlobale.csv
/filmes.txt
/imagemafm.png
/medida_espalhamento_media_desvio.csv
/padrao01.txt
/padrao02.txt
/padrao03.txt
/padrao04.txt
/padrao05 copy 2.txt
/padrao05 copy.txt
/padrao05.txt
/pcd_21.py
/plot.py
/teste
/teste.py
/teste2.py
/testele.py